<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- 외부 URL로부터 동영상을 스트리밍하기 위한 권한. -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 재생중 화면 어두워짐, 잠김 방지하기 위한 권한. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Video3"
            android:exported="false" />
        <activity
            android:name=".Video2"
            android:exported="false" />
        <activity
            android:name=".video1"
            android:exported="false" />
        <activity
            android:name=".ShockedVideo"
            android:exported="false" />
        <activity
            android:name=".VideoActivity"
            android:exported="false" />
        <activity
            android:name=".Shockdata"
            android:exported="false" />
        <activity
            android:name=".Shockreader"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>